@charset "utf-8";
/* CSS Document */
.title_bloka
  {
	height:24px !important;
  }
.oll_bord
  {
   position:relative !important;
  }
.footer_menu
  {
    height:25px !important;
	padding-top:0px !important;
  }
.footer_menu a
  {
	padding-top:10px !important;
  }
.footer_copyright_center
  {
   height:25px !important;
  }
